/* Navigation */
#navbar {
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/* Home section */
#home{
    height: 370px; 
    padding: 3px 28px;
}

#home::before{
    height: 480px; 
}


/* Services section  */
#services{
    flex-direction: column;
}

#services .box { 
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
}

/* Clients section */
#services-city{
    flex-direction: column;
}

#services-city .box1{ 
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
}

/* Contact us section */
#services-coa{
    flex-direction: column;
}

#services-coa .box2{ 
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
}
#signup{
    flex-direction: column;
}

#signup .signup-c { 
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
}

/* Clients section */


#signup .signup-c img{ 
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
}

/* Footer */

/* Utility classes */
.h-primary{
    font-size:26px;
}
.h-primary-signup{
    font-size:26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}