*{
    margin:0px;
    padding:0px;
}
html{
    scroll-behavior: smooth;
}
html, body{
    max-width: 100%;
    overflow-x: hidden ;
}
:root{
    --navbar-height: 59px;
}
#navbar{
    display:flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.6;
}
#logo{
    margin: 10px 34px;
}
#logo img{
    height: 56px;
    margin: 3px 6px;
    border-radius: 12px;
}
#navbar ul{
    display: flex;
    font-family: 'baloo bhai', cursive;
}
#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius:20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
#home-search{
    display: flex;
    flex-direction:column;
    padding:3px 200px;
    height:550px;
    justify-content: center;
    align-items:center;
}
#home-search::before{
    content:"";
    position: absolute;
    background: url('../coaching class1.png') no-repeat center center/cover;
    height:645px;
    top:0px;
    left: 0px;
    width:100%;
    z-index:-1;
    opacity: 0.89;
}
#home-search h1{
    color:white;
    text-align: center;
    margin-left: 135px;
    justify-content: center;
    font-family: 'Bree Serif', serif;
}
#search-box {
    color:white;
    text-align: center;
    font-size: 1.5rem;
    justify-content: center;
    font-family: 'Bree Serif', serif;
}
#search-box input, 
#search-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 12px;
    align-items: center;
    font-size: 1.3rem;
} 

#search-box form{
    width: 120%;
}

#search-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}
#services{
    margin: auto;
    display: flex;
}
#services .box{ 
    border: 2px solid black;
    padding: 34px;
    margin: 2px 31px;
    border-radius: 28px;
    background: white;
    margin-bottom: 20px;
}
#services .box img{ 
    height: 100px;
    margin: auto;
    display:block ;
 }
 
 #services .box p{
     font-family: 'Bree Serif', serif;
 
 } 
 #services-city{
    margin: auto;
    display:flex;
 }
 #services-city .box1{
    border: 2px solid rgb(248, 239, 239);
    padding: 25px;
    margin: 25px 41px;
    background: white;
    box-shadow: insert 3px 5px rgb(146, 145, 145);
    box-shadow: 3px 5px 10px rgb(146, 145, 145), 4px 6px 10px red;
    margin-bottom: 20px;
    cursor: pointer;
 }
 #services-city img{
     height:100px;
     margin:auto;
     display:block;
 }
#services-coa{
    margin: auto;
    display:flex;
}
#services-coa .box2{
    border: 2px solid rgb(248, 239, 239);
    padding: 25px;
    margin: 25px 41px;
    background: white;
    margin-bottom: 20px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
#admission{
    background-color: aliceblue ;
}
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 40%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    

}
#contact-box{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    margin-left:173px;
    width: 91%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}
footer{
    background: rgb(160, 156, 156);
    color: white;
    padding: 9px 20px;
}
.h-primary{
    font-family:'bree serif'serif;
    font-size:3.8rem;
    justify-content: center;
    margin-left: 29px;
    text-align: center;
    padding: 12px;
}
.right{
    position: absolute;
    right: 32px;
    top: 3px;
    Display: inline-block;
}    
.h-tertiary{
    font-family:'bree serif'serif;
    font-size:3.8rem;
    padding: 12px;
    margin: 22px;
}
.h-tertiary center{
    font-family:'bree serif'serif;
    font-size:3.8rem;
    padding: 12px;
}
.h-admission{
    font-family:'bree serif'serif;
    font-size:3.8rem;
    padding: 12px;
    margin: 22px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.h-primary-contact{
    font-size:2.8rem;
    justify-content: center;
    margin-left: 29px;
    justify-content: center;
    text-align: center;
    padding: 12px;
}
.form-group{
    display: inline-flex;
    
}
.form-group-search{
    display:block;
}
.h-contact{
    font-family:'bree serif'serif;
    font-size:1.8rem;
    margin-left:413px; 
    padding:12px;
}
.btn{
    padding: 6px 30px;
    background-color: orange;
    color: rgb(49, 48, 48);
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 0px;
    cursor:pointer;
}
.btn1{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: white;
    color: rgb(49, 48, 48);
    margin: 17px;
    font-size: 1rem;
    border-radius: 10px;
    cursor:pointer;
    text-align:center;
}
.btn2{
    padding: 14px 40px;
    border: 2px solid white;
    background-color: orange;
    color: rgb(49, 48, 48);
    margin: 17px;
    font-size: 1rem;
    border-radius: 10px;
    cursor:pointer;
    text-align:center;
}

.center{
    text-align: center;
}
.center-text{
    display: block;
    margin:14px;
    margin-left: -85%;
}
.center-text1{
    display:block;
    margin:  14px;
}
.center-text2{
    display:block;
    margin-right:-85%;
    margin-top:2%
}

